.header {
    grid-area: header;
    background-color: #3498db;
    margin: 15px;
    border-radius: 5px;
  }
  
.header img {
    width: 80px;
    height: 70px;
    background-color: #3498db;
    margin: 5px;
    margin-top: 9px;
  }

.loginbar {
  float: right;
} 
.loginbar a {
  color: black
}