
 .wallpaper {
    width: 100%;
    height: 200px;
  }
  .avatar {
    width: 150px;
    height: 150px;
  }
.contacts {
  display: flex;
  flex-direction: column;
}
.contacts img{
  width: 25px;
  height: 25px;
  margin: 1px;
}