.app{
  background-color: #ecf0f1;  
}
.app_wrapper {
  float: center;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-areas:
    "header"
    "navbar"  
    "content";
  width: 70%;
  height: auto;
  grid-template-rows: 100px 34px 1fr;
  
  /* grid-gap: 10px; */
  
}

.app_wrapper_content {
  grid-area: content;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

